.border {
    border: 2px dotted rgb(212, 58, 212);
}

.texto{
    font: oblique bold 120% cursive;
    font-family: "Segoe UI";
    font-size: 350%;
    font-weight: 900;
    color: rgb(224, 36, 224);
    padding-left: 3%;
    padding-top: 1%;
}